
/*HEADER*/
#header{
	height:150px;	
}


/*NAV*/
.nav-pills > li > a {
	color: #df6e28;
}

.nav-pills .active > a, .nav-pills .active > a:hover {
    background-color: #df6e28;
}

/*submenu*/
ul.submenu a{
	color: #df6e28;
}

ul.submenu .active > a, ul.submenu .active > a:hover {
	background-color: #df6e28;
}

div.left-block {
	margin-top:10px;
}


/*main content*/

#content-wrapper{
	min-height:300px;
  	height:auto !important;
  	height:300px;
	background-color:#fff;	
}

div.pagetitle{
	margin-bottom:15px;
}



#footer{
	margin-top:50px;
	border-top:1px dotted #df6e28;	
	color:#df6e28;
	font-size:10px;
}



.clear{width:100%;clear:both;}


h1{
	color:#df6e28;	
}

