<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hello Bootstrap</title>
<link href="css/twitter-bootstrap/bootstrap.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	
	<div class="container">	
		<div class="row" id="header">
		    <div class="span4">
		        <img src="img/logo.jpg" />
		    </div>		    
		    
		    <div class="span6 offset6">
		        
		    </div>		    
		</div>
		
		<ul class="tabs">
			<li class="active"><a href="#">Item 1</a></li>
			<li><a href="#">Item 2</a></li>
			<li><a href="#">Item 3</a></li>
			<li><a href="#">Item 4</a></li>
		</ul>		
		
		<div class="row" id="content-wrapper">
			<div class="span3" id="sidebar">
				<ul class="submenu">
					<li class="active"><a href="#">Sub item 1</a></li>
					<li><a href="#">Sub item 1</a></li>
					<li><a href="#">Sub item 1</a></li>
					<li><a href="#">Sub item 1</a></li>
					<li><a href="#">Sub item 1</a></li>
				</ul>
			</div>
			
			<div class="span13" id="content">
				<h1>Pagetitle</h1>
			</div>
			
			<div class="clear"></div>
		</div>
		
		<div class="row" id="footer">
			<div class="span16">
				This is a demo site
			</div>
		</div>
		
	</div>
	
		
</body>
</html>